.App {
  margin: 50px;
  justify-content: center;

  &__body {
    min-width: 460px;
    flex: 1;
    max-width: 1150px;
  }

  .overlay {
    position: absolute;
    opacity: .7;
    background: #454545;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: none;
  }
}

.bg-border {
  border-radius: 25px;
  background: #ffffff;
  box-shadow: -19px 19px 48px #d1d1d1,
  19px -19px 48px #ffffff;
}

@media screen and (max-width: 1050px) {
  .App {
    margin: 50px;
  }

  .overlay {
    display: block !important;
  }
}

@media screen and (max-width: 375px) {
  .App {
    margin: 50px 5px;

    &__body {
      min-width: 300px;
    }
  }
}

