.App {
  margin: 50px;

  &__body {
    flex: 1;
  }

  &__favorites {
    position: relative;
    margin-left: 50px;
    padding: 30px;
    width: 500px;
    border-radius: 25px;
    background: #e8e8e8;
    box-shadow: -19px 19px 48px #d1d1d1,
    19px -19px 48px #ffffff;
     .title {
       text-align: center;
       color: #7c7c7c;
     }

    .clear{
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 10px;
      cursor: pointer;
      color: #7c7c7c;

      &:hover {
        text-decoration: underline;
        color: red;
      }
    }
  }
}

.bg-border {
  border-radius: 25px;
  background: #ffffff;
  box-shadow: -19px 19px 48px #d1d1d1,
  19px -19px 48px #ffffff;
}
